.status {
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 10px;
}
.avatar {
  padding: 10px;
}
.name {
  width: 200px;
}
.statusOnline {
  composes: status;
  background-color: green;
}
