.item {
  display: flex;
  justify-content: center;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
.status {
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 10px;
}
.avatar {
  padding: 10px;
}
.name {
  width: 200px;
}
.statusOnline {
  composes: status;
  background-color: green;
}
