.friendlist {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
}
.item {
  display: flex;
  justify-content: center;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
